*.swp
.vscode/

build*/
examples/cmake-add-subdirectory/rapidcsv_FilterSort

### Linux ###
*~
*.swp

# refer   https://www.toptal.com/developers/gitignore/api/macos,windows,linux,cmake,c++,c,visualstudiocode
